
<!-- <p>Length of controls array in app {{ controls.length }}</p> -->

<div class="container mt-5" [formGroup]="form">
  <div class="form-group" *ngFor="let control of controls, let i = index">
    <label>{{ control.label.value }}</label>
    <input
      class="form-control"
      [type]="control.input.type"
      [placeholder]="control.input.placeholder || ''"
      [required]="control.input.required" 
      [formControlName]="getFormControlName(i)" />

    <!-- these refresh the page with every click -->
    <!-- <button class="btn btn-danger" (click)="remove(i)" [disabled]="controls.length <= 1">-</button>
    <button class="btn btn-primary" (click)="add(i)">+</button> -->

    <input type="button" class="btn btn-danger" (click)="remove(i)" [disabled]="controls.length <= 1" value="-">
    <input type="button" class="btn btn-primary" (click)="add(i)" value="+">

  </div>
</div>
