
<!-- <p>Length of controls array in app {{ controls.length }}</p> -->

<div class="container mt-5" [formGroup]="form">
  <div class="form-group" *ngFor="let group of controls, let i = index">
    <ng-container *ngFor="let control of group, let k = index">

      <label *ngIf="control.type === 'label'">{{ control.value }}</label>

      <input
        *ngIf="control.type === 'text'"
        class="form-control"
        [type]="control.type"
        [placeholder]="control.placeholder || ''"
        [required]="control.required"
        [formControlName]="control.name" />

        <div *ngIf="form.controls[control.name]?.invalid &&
            (form.controls[control.name]?.dirty || form.controls[control.name]?.touched)">
            <span *ngIf="form.controls[control.name]?.errors?.['required']"
              class="text-danger">
              Field is required!
            </span>
            <span *ngIf="form.controls[control.name]?.errors?.['minlength']"
              class="text-danger">
              Minimum Length is {{ control.minLength }} characters.
            </span>
        </div>


      <select
        *ngIf="control.type === 'select'"
        class="form-control"
        [formControlName]="control.name">
        <!-- <option>-</option> -->
        <ng-container *ngIf="control.options">
          <ng-container *ngFor="let option of control.options">
            <option [value]="option.value">{{ option.text }}</option>
          </ng-container>
        </ng-container>
      </select>
    </ng-container>

    <input type="button" class="btn btn-danger" (click)="remove(i)" [disabled]="controls.length <= 1" value="-">
    <input type="button" class="btn btn-primary" (click)="add(i)" value="+">

  </div>
</div>
