
<form [formGroup]="form">
  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
  <div class="form-group" *ngFor="let group of controls, let i = index">
    <ng-container *ngFor="let control of group, let k = index">

      <label *ngIf="control.type === 'label'">{{ control.value }}</label>

      <input
        *ngIf="['text', 'email', 'button', 'phone', 'password', 'number']
          .includes(control.type)"
        class="form-control"
        [type]="control.type"
        [placeholder]="control.placeholder || ''"
        [formControlName]="control.name"/>

      <div *ngIf="['radio', 'checkbox'].includes(control.type)" class="form-check">
        <div *ngFor="let value of control.values">
          <input
          class="form-check-input"
          [type]="control.type"
          [name]="control.name"
          [value]="value"
          [formControlName]="control.name"/>
        <label class="form-check-label">{{ value }}</label>

        </div>
      </div>

      <!-- <fieldset *ngIf="control.type == 'radio'" [id]="control.name">
        <input *ngFor="let value of control.values"  [type]="control.type" [value]="value" [formControlName]="control.name">
      </fieldset> -->

      <select
        *ngIf="control.type === 'select' && control.options"
        class="form-control"
        [formControlName]="control.name">
        <option selected disabled>-</option>
          <option *ngFor="let option of control.options" [value]="option.value">{{ option.text }}</option>
      </select>

      <div *ngIf="form.controls[control.name]?.invalid &&
        (form.controls[control.name]?.dirty || form.controls[control.name]?.touched)">
        <span *ngIf="form.controls[control.name]?.errors?.['required']"
          class="text-danger">
          Field is required!
        </span>

        <span *ngIf="form.controls[control.name]?.errors?.['minlength']"
          class="text-danger">
          Minimum Length is {{ control.minLength }} characters.
        </span>

        <span *ngIf="form.controls[control.name]?.errors?.['maxlength']"
          class="text-danger">
          Max Length is {{ control.maxLength }} characters.
        </span>

        <span *ngIf="form.controls[control.name]?.errors?.['email']"
          class="text-danger">
          Invalid email.
        </span>

        <span *ngIf="form.controls[control.name]?.errors?.['invalidPassword']"
          class="text-danger">
          Password does not match.
        </span>

        <span *ngIf="form.controls[control.name]?.errors?.['min']"
          class="text-danger">
          Minimum grade should be {{ control.min }}.
        </span>

        <span *ngIf="form.controls[control.name]?.errors?.['max']"
          class="text-danger">
          Maximum grade should be {{ control.max }}.
        </span>
      </div>
    </ng-container>

    <input type="button" class="btn btn-danger" (click)="remove(i)" [disabled]="controls.length <= 1" value="-">
    <input type="button" class="btn btn-primary" (click)="add(i)" value="+">

  </div>

  <!-- </form> -->
</form>
